

*{  padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif !important;
}
/* //navbar */
header .navbar{
    background-color:white;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
}
.navbar .navbar-in{

    margin: auto;
    gap: 10px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* box-shadow: 2px 2px 14px rgba(211, 211, 211, 0.952); */
}
.navbar-in .name{
    font-family: 'Carter One', cursive;
    color: rgb(0, 0, 0);
    font-size: 2rem;
}
.navbar .navbar-in nav ul{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    list-style: none;
    width: 350px;
}
.navbar .navbar-in nav ul a{
    color: rgb(0, 0, 0);
  text-decoration: none;
   font-family: 'Poppins', sans-serif;
}
.navbar .navbar-in nav ul a::after{
content: "";
position: relative;
top: 10px;
width: 0px;
height: 2px;
background-color: rgb(0, 0, 0);
display: block;
margin: auto;
transition: all 0.3s linear;
}
.navbar .navbar-in nav ul a:hover:after{
width: 40px;
}

.button{
    background-color: #695aa6;
    height: 40px;
    width: 130px;
    color:white;
    font-size: 1.07rem;
    border: 2px solid #695aa6;
}
 .button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}
.button a:hover {

    color: rgb(255, 255, 255);
}
.button .btn-contact {
    height: 35px;
    width: 128px;
    padding-top: 5px;
    padding-left: 15px;
}
.button  .btn-contact:hover{
    background-color: #695aa6;
    box-shadow: 0 5px 15px #695aa67a;
}


/* Hero Section */
.Hero-section{
    padding-top: 100px;

}
.img-main img{
    width: 100%;  position: absolute;
    z-index: -1;
    opacity: 0.9;
    min-height: 100vh;
    
}

.greeting{
    color: white;
    font-size:4vw;
}
.myself{
    color: white;
    font-size: 2rem
}
.heading-name{
    color: white;
    font-size: 5rem;
}
.para p{
    color: white;
}

.two-sections{
    display: flex;
    max-width: 1200px;
    margin: auto;
    height: 600px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.greet{
    font-size: 2rem;
    color: #ffffff;
}
span{
    font-size: 1.8rem;
    color: #ffffff;
}
h1{
    margin-top: 10px;
    font-size: 4rem;
    color: #ffffff;
}
 .intro h2{
    margin-top: 10px;
    font-size: 2.5rem;
    color: #ffffff;
}
.tagline{
    margin-top: 10px;
    font-size: 1.2rem;
    color: #ffffff;
}
.CV{
    margin-top: 20px;
    height : 40px;
    background-color: #695aa6;
    font-family: 'Poppins', sans-serif;
    height: 40px;
    width: 130px;
    color: rgb(255, 255, 255);
    font-size: 1.07rem;
    border: 2px solid #695aa6;}

.CV:hover{
        background-color:#695aa6;
        color: rgba(255, 255, 255, 1);}


    .circle{
        border-bottom: 2px solid #ffffff;
        border-radius: 100%;
        height: 390px;
        width: 390px;
        animation: circ linear infinite 10s;
        position: absolute;
    }
.photo{
   
   height: 400px;
   width: 400px;

}
.cir{
    height: 50px;
    width: 50px;
   position: fixed;
   border-radius: 100%;
    right: 50px;
    bottom: 20px;
    background-color: #695aa6;
    padding-left: 10px;
    transition:  all linear 0.5s;
    padding-top: 5px;
  
}
.cir::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 30px;
    margin: auto;
    top: 24px;
    display: block;
    background-color: #ffffff;
}
.cir::before{
    position: absolute;
    content: "";
    height: 2px;
    bottom: 24px;
    width: 30px;
    margin: auto;
    display: block;
    background-color: #ffffff;
    transform: rotate(90deg);
}
.cir:hover{
    background-color:#695aa6;
    box-shadow: 0 5px 15px #695aa6(186, 204, 27, 0.486);
 

}
.icons{
    height: 50px;
    overflow: hidden;
    width: 50px;
    position: fixed;
    right: 50px;
    bottom: 20px;
    transition: all 1s linear;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}
.icons:hover{
    height: 200px;
    z-index: 1;
}
.icon-1{
    background-color:#695aa6;
    height: 30px;
    width: 30px;
    margin-top: 15px;
    border-radius: 100%;

}
.contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes circ {
    0%{
        transform: rotate(360deg);
    }
}

#section-2{
    background-color: #ffffff;
    padding: 50px 0px 50px 0px;
}
.image-2 IMG{
    width: 300px;
    height: 300px;
}
.about-me .heading h2{
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
    font-size: 2.5rem;
    padding-left: 10px;
}
.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
}
.para p{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    padding: 10px 10px 10px 10px;
}


/*skills*/

#section-3{
 background-color: #ffffff;
 /* padding-top: 50px; */
 padding-bottom: 50px;
}
.all-skills .heading h2{
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    text-align: center;
}
.circ-skill{
    background-color:#695aa6d8;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    transition: all linear 1s;
    box-shadow: 0 5px 15px #695aa6a2;
}
.skill-1{
     color: rgb(255, 255, 255);
     text-align: center;
    font-size: 2rem;
    padding-top: 55px;

}

.flex-skillss{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}
#section-4{
    background-color: rgb(255, 254, 254);
    padding-bottom: 0px;
}
.projects{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;
    gap: 40px;
}

.box{
    height: 200px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
}

.img-1{
    width: 300px;
    
    height: 165px;
    border-radius: 20px;
}
.des{
    text-align: center;
}
.head{
    font-size: 2rem;
    color: rgb(3, 3, 3);
    text-align: center;
    padding-top: 70px;
}
#section-5{
    background-color: #ffffff;
    height: 100vh;
}
.sections{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
    width: 60%;
    margin: auto;
    margin-top: 30px;
}
.head-comment{
    text-align: center;
    font-size: 3rem;
    color: rgb(0, 0, 0);
}
.sections  .no {
   
    font-size: 1.3rem;
}
.sections  .gmail {
    font-size: 1.3rem;
}

.form form{
    display: flex;
    flex-direction: column;
    width: 330px;
    background-color: #695aa6;
    border: 2px solid #695aa6;
    height: 350px;
    justify-content: space-between;
    margin: 50px auto 0px auto;
    border-radius: 20px;
    padding: 50px 50px 100px 50px;
    /* box-shadow: 0 5px 15px rgba(186, 204, 27, 0.486) */
    
}
form input{
    height: 25px;
    width: 230px;
    padding: 0px 0px 0px 10px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
}
form button{
    height: 25px;
    width: 230px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
}
.full-bar{
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

@media (max-width: 788px) {
    .photo{
        height: 300px;
        width: 300px;
    }
    .full-bar{
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
    .circle{

        height: 300px;
        width: 300px;
        border-radius: 100%;
    }
    /* header .navbar{
        background-color:rgb(61, 61, 61);
        height: 350px;
        position: fixed;
        z-index: 1;
    }   */
    /* .navbar .navbar-in nav ul{
        display: flex;
        justify-content: space-between;
        height: 250px;
        left: 0;
        top: 80px;
        flex-direction: column;
       position: absolute;
        align-items: center;
        list-style: none;
        width: 100%;
    }
   */
   .navbar .navbar-in{
    box-shadow: none;
    flex-direction: column;
    justify-content: space-around;
    height: 90px;
    align-items: center;
   }
     header .navbar{
        background-color:rgb(255, 255, 255);
        height: 100px;
       
        padding-top: 10px;
        position: fixed;
        z-index: 1;
    }   

    .about-me{
        flex-direction: column;
    }
    .flex-skillss{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    
    
  
}
.row{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    flex-wrap: wrap;
   
}
.copyright-area{
    background-color:white;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.562);
    height: 80px;
 
}
ul  li{
    list-style-type: none;
}
.text-right ul{
    display: flex;
    gap: 10px;
}
.text-right ul li {
    text-decoration: none;
    list-style: none;
   
}
.footer-menu ul li a{
    color: black;
    text-decoration: none;
    
}
.icon-1{
    padding-left: 4px;
    padding-top: 7px;
}
i{
    color: rgb(255, 255, 255);
}


.skill-bar{
    display: flex;
    border-bottom: 2px solid black;
    justify-content: space-between;
    padding: 2px;
}


.one{
    width: 80%;
}
.op{
    width: 75%;
    
}
.java{
    width: 30%;
}
.boot{
    width: 80%;
}
.j{
    width: 45%;
}
.full-bar{
    display: flex;
}
.imagee img{
    height: 35px;
    margin-right: 10px;
    
    width: 30px;
}
